{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up </title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
   <form method="POST" action="">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" placeholder="Enter your username"  name="username">
      </div>

      <div class="input-box">
        <input type="password" placeholder="Create password"  name="password">
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password"  name="confirm_password">
      </div>

      <div class="input-box button">
        <input type="Submit">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="{% url 'clgapp:login' %}">Login now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>